<div id="page-content">
  <h1 class="text-center mt-4"><%= @user.username%>'s Profile</h1>
  <%= gravatar_img @user %>
  <h3 class="text-center mt-4">Articles</h3>
  <%= render 'articles/article', data: @user.articles %>
</div>